{%extends 'back/master.html' %}


{%load static%}
{%block mainblock%}
<div id="page-content">
                        <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Manager Tabels<br><small>You can edit or delete data</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Manager</li>
                            <li><a href="/panel/manager/list/">List</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                        <!-- Datatables Content -->
                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>Manager</strong> List</h2>
                            </div>

                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>IP</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                    {%for i in manager%}
                                        <tr>
                                            <td class="text-center">{{i.pk}}</td>
                                           <td><a href="#">{{i.name}}</a></td>
                                            <td>{{i.utxt}}</td>
                                            <td>{{i.email}}</td>
                                            <td>{{i.ip}}</td>

                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="{%url 'users_groups' pk=i.pk%}" data-toggle="tooltip" title="Group" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i>Group</a>
                                                    <a href="{%url 'manager_del' pk=i.pk%}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i>Delete</a>
                                                    <a href="{%url 'users_perms' pk=i.pk%}" data-toggle="tooltip" title="Permissions" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i>Permissions</a>

                                                </div>
                                            </td>
                                        </tr>
                                    {%endfor%}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END Datatables Content -->
                    </div>




{%endblock%}

{%block footerblock%}
      <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>

{%endblock%}