{%extends 'back/master.html' %}


{%load static%}
{%block mainblock%}
<div id="page-content">
                        <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Popular Article<br><small>Here Is Very Popular Article</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Popular Article</li>
                            <li><a href="">List</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                        <!-- Datatables Content -->
                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>Popular</strong> Article</h2>
                            </div>

                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>

                                            <th>Image</th>
                                            <th>News Title</th>
                                            <th>News Category</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {%for pop in popnews%}

                                        <tr>
                                            <td class="text-center">{{pop.pk}}</td>
                                            <td class="text-center"><a href="{%url 'news_details' word=pop.name%}" ><img src="{{pop.picurl}}" style="display:inline-block; width:50px;height:50px;" alt="avatar" class="img-circle"></a></td>
                                            <td><a href="{%url 'news_details' word=pop.name%}">{{pop.name}}</a></td>
                                            <td>{{pop.catname}}</td>
                                            <td>{{pop.date}}</td>


                                        </tr>

									{%endfor%}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END Datatables Content -->
                    </div>




{%endblock%}

{%block footerblock%}
      <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>

{%endblock%}