{%extends 'front/master.html' %}
{%load static %}

	{% block headblock %}

<title>{{site.name}} | News Show</title>

	{% endblock %}


{%block mainblock %}

	<section class="bg0 p-t-60 p-b-40">
		<div class="container">


							<form action="{%url 'all_news_search' %}" method="POST">
								{% csrf_token %}
<!--							<input class="bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20" onkeypress="return Num(event);" type="search" aria-label="Search" id="txt" name="txt" placeholder="Search Your Query">-->
							<input class="bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="search" aria-label="Search" id="txt" name="txt" placeholder="Search Your Query">



                                                    <select id="cat" name="cat" class="select-chosen" data-placeholder="Choose : Category" style="width: 250px;">


                                                        <option value="0">All News</option>
                                                        {% for i in cat%}
                                                        <option value="{{i.pk}}">{{i.name}}</option>
                                                        {%endfor%}


                                                    </select>

                                                    <select id="from" name="from" class="select-chosen" data-placeholder="Choose : Category" style="width: 250px;">


                                                        <option value="0">From</option>
                                                        {% for i in f_rom%}
                                                        <option value="{{i.pk}}">{{i}}</option>
                                                        {%endfor%}


                                                    </select>
                                                    <select id="to" name="to" class="select-chosen" data-placeholder="Choose : Category" style="width: 250px;">


                                                        <option value="0">To</option>
                                                        {% for i in t_o%}
                                                        <option value="{{i.pk}}">{{i}}</option>
                                                        {%endfor%}


                                                    </select>
							<button type="submit" class="size-a-20 bg2 borad-2 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-20">Search</button>

							</form>
        </div>
    </section>


	<!-- Latest -->
	<section class="bg0 p-t-60 p-b-40">
		<div class="container">
			<div class="row p-t-35">

				{% for n in allnewss %}

				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->
					<div class="m-b-45">
						<a href="{% url 'news_details' word=n.name %}" class="wrap-pic-w hov1 trans-03">
							<img style="display:inline-block; height: 230px; width: 350px " src="{{n.picurl}}" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="{% url 'news_details' word=n.name %}" class="f1-m-3 cl2 hov-cl10 trans-03">
									{{n.name}}
								</a>
							</h5>
							<p>{{n.short_txt | safe}}</p>
							<br>

							<span class="cl8">
								<a href="{% url 'news_details' word=n.name %}" class="f1-s-4 cl8 hov-cl10 trans-03">
									by {{n.writer}}
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									{{n.date}}
								</span>
							</span>
						</div>
					</div>
				</div>

				{% endfor %}


			</div>
		</div>
	</section>
	<section class="bg0 p-t-60 p-b-40">
		<div class="container">
			<div class="row p-t-35">


			</div>
		</div>
	</section>





{% endblock%}

